// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.document-links strong{
	margin-right: 40px;
}
.contact-name{
	font-size: 1.2em;
	margin-right:15px;
}